
.cat-photo {
  margin: 10px;
  max-width: 500px;
}

.blogs-table{
  background-color: rgb(225, 225, 225);
  border: 1px solid grey;
}

/* Affects all table cells */
td{
  background-color: white;
  border: 1px solid black;
}

/* Applying the "hand" when you hover over a button */
button{
  cursor: pointer
}

.reviewButton{
  padding: 3px;
  border: 1px solid #000000;
  background-color: yellow;

}

.readButton{
  padding: 3px;
  border: 1px solid #000000;
  background: rgb(235, 235, 235); 
}

/* Brendan: Used for all the larger buttons. I will remove it later when I figure out a better button script */
.H1toH5 input { display: none; } /* Removes the check box */
.H1toH5 .reviewButton { padding: 3px; border: 1px solid #000000; background: yellow; }
.H1toH5 input:checked + .reviewButton { background: rgb(48, 255, 30); }

.H1toH5 .readButton { padding: 3px; border: 1px solid #000000; background: rgb(235, 235, 235); }
.H1toH5 input:checked + .readButton { background: rgb(160, 160, 160); }
