
.cat-photo {
  margin: 10px;
  max-width: 500px;
}

.blogs-table{
  width: 900px;
  background-color: rgb(225, 225, 225);
  border: 1px solid grey;
}

.blogs-cell{
  background-color: white;
  border: 1px solid black;
}

td{
  background-color: white;
  border: 1px solid black;
}

.flag{
  background-color: yellow;
}