#content {
  margin: 10px;
  padding: 10px;
  border: solid 1px #808
}

.minor-section {
  padding: 10px;
  border: solid 1px #A0A0A0;
}

/*
Used by Brendan to test out a homepage look
*/
.center-square{
  width: 1000px;
  margin: auto;
  background-color: #fff7bbe1;
  text-align: center;
}