/* style.css */
@tailwind base;
@tailwind components;
@tailwind utilities;
/* Set the canvas element to be the full size of the window */
canvas {
    width: 100%;
    height: 100%;
}

/* Center the canvas element on the page */
body {
    display: flex;
    justify-content: center;
    align-items: center;
}

#canvas-container {
    width: 100%;
    height: 600px;
}

.waifuIcon {
 @apply w-24 h-24 shadow-lg rounded-full transition-transform  hover:scale-125;
}